* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEF5FF;
    display: flex;
    width: 100vw;
    height: 50rem;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 20px;
    padding: 15px;
    padding-left: 0px;
    background-color: #FFFFFF;
    height: 60%;
    width: 55%;
    display: flex;
    justify-content: space-around;
}

aside {
    padding-top: 3%;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 2%;
}

.circle {
    position: relative;
    color: #EEF5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid white;
}

.step1,
.step2,
.step3,
.step4 {
    opacity: 40%;
}

.text {
    display: flex;
    align-items: center;
    width: 50%;
    color: #FFFFFF;
    font-weight: 600;
}

.row {
    padding-left: 10%;
    height: 10%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}

.data-container {
    height: 80%;
    width: 100%;
}

.buttons-div {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: flex-end;
}

.next-btn,
.back-btn {
    text-align: center;
    border-radius: 7px;
    width: 20%;
    height: 100%;
    display: flex;
    background-color: #164A8A;
    align-items: center;
    justify-content: center;
}

.next-btn .btns {
    color: #EEF5FF;
    font-size: large;
    border: 0;
    background-color: #164A8A;
}

.back-btn {
    background-color: #FFFFFF;
    font-size: larger;
}

.back-btn .btns {
    /* display:none; */
    font-size: large;
    background-color: #FFFFFF;
    border: 0;
}

.column {
    display: flex;
    flex-direction: column;
}

aside .text {
    font-size: small;
}






/* Page1 Styling */
.page1 {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page1 .page1-info {
    font-size: large;
}

.page1-info {
    width: 100%;
    text-align: justify;
    font-size: larger;
    opacity: 60%;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding-left: 2%;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    border-radius: 7px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.red-parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.red {
    color: red;
}

.red p {
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}






/* Page2 styling */
.page2 {
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page2 .heading {
    display: flex;
    gap: 0;
}

.plans {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 70%;
}

.plans:hover {
    cursor: pointer;
}

.black-border {
    border-radius: 5px;
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
    padding: 7px;
    height: 150px;
}

.toggle-div {
    padding: 10px;
    background-color: #EEF5FF;
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.space {
    display: flex;
    gap: 10px;
}

h2 {
    font-weight: 600;
}



.card {
    border: 0;
}






/* Page3 styling */
.page3 {
    height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page2 .heading {
    display: flex;
    gap: 0;
}

.page3-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70%;
}

.checkbox {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox input {
    width: 20px;
}

.online-service {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    height: 30%;
    padding: 40px;
    padding-right: 20px;
    border-radius: 5px;
    align-items: center;
}

.width-50 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

h6 {
    margin-bottom: 0;
}

.opacity-50 {
    opacity: 70%;
}

.price {
    padding-right: 10px;
    display: flex;
    align-items: center;
}



/* Page4 styling */

.page4-data {
    background-color: #EEF5FF;
    border-radius: 5px;
}

.finalpage-row1 {
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 20px;
    padding-right: 20px;
    border-radius: 5px;
    align-items: center;
}

.finalpage-row2 {
    display: flex;
    flex-direction: column;
}

.finalpage-row2 .row2-div {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


@media (min-width :1000px) {
    .finalpage-row2 .row2-div {
        padding: 20px;
    }
}

.opacity-30 {
    opacity: 60%;
    width: 90%;
}

.total-price {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}


/* Thankyou page */
.page5 {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page5 p {
    opacity: 50%;
}



@media (max-width:600px) {
    .container {
        padding: 0px;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    aside {
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        background-size: cover;
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* margin-top: -7%; */
    }

    aside .text {
        display: none;
    }

    .step1,
    .step2,
    .step3,
    .step4 {
        height: 100%;
        width: 25%;
    }

    .circle {
        margin-top: 20%;
        margin-right: 40%;
        position: relative;
        width: 80%;
        height: 23%;
    }

    .card {
        width: 100%;
        background-color: #EEF5FF;
        padding-bottom: 0;
    }

    .data-container {
        border-radius: 5px;
        padding: 5%;
        align-self: center;
        background-color: #FFFFFF;
        width: 80%;
        margin-top: -17%;
        height: auto;
    }

    .buttons-div {
        background-color: #FFFFFF;
        height: 10%;
        padding-bottom: 0;
        margin-bottom: 0;
        justify-content: flex-end;
        align-items: center;
    }

    .buttons-div div {
        height: 80%;
        width: 30%;
        align-self: center;

    }



    .plans {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 70%;
    }

    .black-border {
        width: 90%;
        flex-direction: row;
        height: 100px;
    }

    .online-service {
        padding: 10px;
        padding-left: 2px;
        padding-right: 2px;
        gap: 5px;
    }

    .row2-div {
        display: flex;
        justify-content: space-between;
    }

    .padding-right-0 {
        margin-left: 20px;
    }



    .page5 {
        padding: 10px;
        padding-top: 30%;
        justify-content: center;
    }

    .next-btn {
        margin-right: 10%;
    }

    .opacity-30 {
        width: 60%;
        padding-left: 5%;
    }

}






@media (min-width:600px) and (max-width: 1224px) {
    .opacity-30 {
        padding-left: 20px;
    }
    

    .container {
        flex-direction: row;
        width: 80%;
        height: 80%;
        /* justify-content: center; */
    }

    aside {
        background-size: contain;
        height: 100%;
        width: 40%;
        row-gap: 20px;
        padding-left: 20px;
    }

    .card {
        height: auto;
    }

    .page2,
    .page3,
    .page4 {
        width: 100%;
    }

    .plans {
        flex-direction: column;
    }

    .black-border {
        width: 100%;
        font-size: small;
    }

    .width-50 {
        width: 100%;
    }

    .finalpage-row1 {

        align-items: center;
        gap: 15px;
    }

    .finalpage-row2 .row2-div {

        align-items: center;
        gap: 15px;
    }

    .total-price {

        align-items: center;
    }

    .circle {
        height: 80%;
        width: 15%;
    }

    aside .text {
        font-size: small;
        flex-direction: row;
    }

    .step1,
    .step2,
    .step3,
    .step4 {
        height: 10%;
        justify-content: flex-start;
        gap: 30px;
    }

    .black-border {
        width: 90%;
        flex-direction: row;
        height: 130px;
    }

    .online-service {
        padding: 10px;
        padding-left: 2px;
        padding-right: 2px;
        gap: 5px;
    }

    .buttons-div div {
        height: 40%;
        width: 30%;
        align-self: center;

    }

    .buttons-div {
        background-color: #FFFFFF;
        height: 15%;
        padding-bottom: 0;
        margin-bottom: 0;
        justify-content: flex-end;
    }
}


@media (min-width:1225px) and (max-width:1550px) {
    .buttons-div div {
        height: 100%;
        width: 30%;
        align-self: center;


    }

    .online-service {
        height: 10%;
        justify-content: space-between;
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .page1-info {
        word-spacing: 0cm;
    }

    .container {
        height: 60%;
    }

    .circle {
        width: 30%;
    }


}